@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --font-Russo: "Russo One", sans-serif;
  --bg-i-drum: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  --bg-pad: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  --bg-btn: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  --border-gradient: linear-gradient(
    90deg,
    #a9fbed  0%,
    #fdcf4f 35%,
    #a9fbed 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}